<%= form_with(model: porter, local: true) do |form| %>
  <% if porter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(porter.errors.count, "error") %> prohibited this porter from being saved:</h2>

      <ul>
      <% porter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :port_number %>
    <%= form.text_field :port_number, id: :porter_port_number %>
  </div>

  <div class="field">
    <%= form.label :host_name %>
    <%= form.text_field :host_name, id: :porter_host_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
